<div>
  <input [(ngModel)]="nrInterbari" type="text" placeholder="nr intrebari">
  <br>
  <input [(ngModel)]="nivelDificultate" type="text" placeholder="nivel dificultate">
  <input [(ngModel)]="limbaj" type="text" placeholder="limbaj">
  <input [(ngModel)]="domeniu" type="text" placeholder="domeniu">
  <input [(ngModel)]="tehnologie" type="text" placeholder="tehnologie">
</div>
<br>
<div>
  <input [(ngModel)]="nivelDificultate2" type="text" placeholder="nivel dificultate">
  <input [(ngModel)]="limbaj2" type="text" placeholder="limbaj">
  <input [(ngModel)]="domeniu2" type="text" placeholder="domeniu">
  <input [(ngModel)]="tehnologie2" type="text" placeholder="tehnologie">
</div>
<br>
<div>
  <input [(ngModel)]="nivelDificultate3" type="text" placeholder="nivel dificultate">
  <input [(ngModel)]="limbaj3" type="text" placeholder="limbaj">
  <input [(ngModel)]="domeniu3" type="text" placeholder="domeniu">
  <input [(ngModel)]="tehnologie3" type="text" placeholder="tehnologie">
</div>

<div>
<button (click)="generateQuiz()" class="btn btn-primary"></button>
</div>

<p>{{toShow}}</p>
