<p class="para"> ENTER </p>
<p class="para"> ENTER </p>

<div>
  <input [(ngModel)]="nrInterbari" type="text" placeholder="nr intrebari" class="inputfields">
  <br>
  <input [(ngModel)]="nivelDificultate" type="text" placeholder="nivel dificultate" class="inputfields">
  <input [(ngModel)]="limbaj" type="text" placeholder="limbaj" class="inputfields">
  <input [(ngModel)]="domeniu" type="text" placeholder="domeniu" class="inputfields">
  <input [(ngModel)]="tehnologie" type="text" placeholder="tehnologie" class="inputfields">
</div>
<br>
<div>
<button (click)="generateQuiz()" class="button" text="Generate">Generate</button>
</div>

<p>{{toShow}}</p>
