<body class="page">


<h1 class="quizhead">Quiz</h1>
<p>tehnologii: {{tehnologii}}</p>
<p>limbaje: {{limbaje}}</p>
<p>punctaj total: {{quiz.punctajTotal}}</p>
<ul>
  <!--*ngFor="intrebare in intrebari"-->
  <div *ngFor="let intrebare of intrebari">
    <li *ngFor="let translatedQuestions of intrebare.traduceri"><h3>{{translatedQuestions.enunt}}</h3>

      <div *ngFor="let rasp of intrebare.raspuns">
        <div *ngFor="let trad of rasp.traduceri">
          <!--<div *ngFor="let checkboxoption of checkboxOptions">-->
            <input (change)="intrebare.raspuns" type="checkbox">{{trad.enunt}}<br>
          <!--</div>-->
        </div>
      </div>
    </li>
  </div>
</ul>

<div>
  <button (click)="calculateScore2()" class="form-group">Submit</button>
</div>
<br>






</body>

