<body class="page">


<h1 class="quizhead">Quiz</h1>
<p>nicel dificultate</p> <p>{{quiz.punctajTotal}}</p>
<p>tehnologii:</p>
<p>limbaje: </p>
<p>nr max de puncte ce poate sa fie obinut (aici adun toate punctele de la toate intrebarile)</p>
<ul>
  <!--*ngFor="intrebare in intrebari"-->
  <li><h3>Question 1</h3>

    <input type="checkbox"><br>
    <input type="checkbox">Answer B<br>
    <input type="checkbox">Answer C<br>
    <input type="checkbox">Answer D<br>
  </li>
</ul>
<div>
  <button (click)="generateQuiz()">Submit</button>
</div>


</body>

