<body class="page">


<h1 class="quizhead">Quiz</h1>
<p>tehnologii: {{tehnologii}}</p>
<p>limbaje: {{limbaje}}</p>
<p>punctaj total: {{quiz.punctajTotal}}</p>
<ul>
  <!--*ngFor="intrebare in intrebari"-->
  <div *ngFor="let intrebare of intrebari">
    <div *ngFor="let translatedQuestions of intrebare.traduceri">
      <li *ngIf="translatedQuestions.limba === language">
        <h3 *ngIf="translatedQuestions.limba === language">
          <div *ngIf="translatedQuestions.limba === language">{{translatedQuestions.enunt}}</div>
        </h3>

        <div *ngFor="let rasp of intrebare.raspuns">
          <div *ngFor="let trad of rasp.traduceri">

            <div *ngIf="trad.limba === language">
              <input (change)="OnCheckboxSelect(item.id, rasp.idRaspuns, $event)"
                     type="checkbox"/>
              {{trad.enunt}}
            </div>

          </div>
        </div>
      </li>
    </div>
  </div>
</ul>
<div>
  <button (click)="calculateScore()" class="w3-btn w3-green w3-ripple w3-margin-top">Submit</button>
</div>
<br>
<label>{{score}}</label>


</body>

