<label>{{this.translateService.GetTranslations("lbl.CreateUser")}}</label>
<br>
<label>{{this.translateService.GetTranslations("lbl.Username")}}:</label>
<input class="w3-input w3-border" type="text" [(ngModel)]="username" placeholder="Username">
<br>
<label>{{this.translateService.GetTranslations("lbl.Password")}}:</label>
<input class="w3-input w3-border" type="password" [(ngModel)]="password" placeholder="Password">
<br>
<label>{{this.translateService.GetTranslations("lbl.ConfirmPassword")}}:</label>
<input class="w3-input w3-border" type="password" [(ngModel)]="confirmpassword" placeholder="ConfirmPassword">
<br>

<button class="w3-btn w3-green w3-ripple" [disabled]="error || incomplete" (click)="createUser()">&#10004; {{this.translateService.GetTranslations("lbl.CreateUser")}}
</button>

