<div ng-app="myApp" ng-controller="userCtrl" class="w3-container">
  <div *ngIf="!edit">
    <h3>{{this.translateService.GetTranslations("question-page.lbl.title")}}</h3>

  <table class="w3-table w3-bordered w3-striped">
    <tr>

      <th>{{this.translateService.GetTranslations("lbl.Edit")}}</th>
      <th>{{this.translateService.GetTranslations("lbl.Delete")}}</th>
      <th>{{this.translateService.GetTranslations("lbl.Question")}}</th>
      <th>{{this.translateService.GetTranslations("lbl.Difficulty")}}</th>
      <th>{{this.translateService.GetTranslations("lbl.Points")}}</th>
      <th>{{this.translateService.GetTranslations("lbl.Answers")}}</th>
    </tr>
    <tr *ngFor="let question of questions">
      <td>
        <button class="w3-btn w3-ripple" (click)="editQuestion(question)">&#9998; {{this.translateService.GetTranslations("lbl.Edit")}}</button>
      </td>
      <td>
        <button class="w3-btn w3-ripple" (click)="deleteQuestion(question)">&#9998; {{this.translateService.GetTranslations("lbl.Delete")}}</button>
      </td>
      <td>
        <span *ngFor="let traducere of question.traduceri">{{traducere.enunt}}</span>
      </td>
      <td>{{ getDificultate(question.nivelDificultate) }}</td>
      <td>{{ question.punctaj }}</td>
      <td>
        <button *ngIf="!question.showAnswers" (click)="showAnswersMethod(question)" class="w3-btn w3-green w3-ripple">Show Answers</button>
        <button *ngIf="question.showAnswers" (click)="hideAnswers(question)" class="w3-btn w3-green w3-ripple">Hide Answers</button>
        <table *ngIf="question.showAnswers">
          <tr>
            <th>{{this.translateService.GetTranslations("lbl.Answer")}}</th>
            <th>{{this.translateService.GetTranslations("lbl.True")}}</th>
          </tr>
          <tr *ngFor="let answer of question.raspuns">
            <td>
              <span *ngFor="let traducere of answer.traduceri">{{traducere.enunt}}</span>
            </td>
            <td>{{answer.valoareAdevar}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  </div>
<edit-question *ngIf="edit" [intrebare]="editableQuestion" (finishEditing)="finishEditing()"></edit-question>
  <button class="w3-btn w3-green w3-ripple w3-margin-top"  type="submit" (click)="showHide = !showHide">{{this.translateService.GetTranslations("lbl.FilterOptions")}}</button>
  <button class="w3-btn w3-green w3-ripple w3-margin-top" type="submit" (click)="refresh()">{{this.translateService.GetTranslations("lbl.ClearFilter")}}</button>
  <div *ngIf="showHide" class="w3-container">
    <h1 class="bold-text">Filter:</h1>
    <div>
      <p>
        <label class="bold-text">{{this.translateService.GetTranslations("lbl.Difficulty")}}:</label>
      </p>
      <table class="w3-table w3-striped">
        <tr>
          <td *ngFor="let checkbox of checkboxes1">
            <input type="checkbox" [checked]="checkbox.checked" (change)="checkbox.checked = !checkbox.checked; checkValues()"> {{checkbox.nume}}</td>
        </tr>
      </table>
      <p><label class="bold-text">{{this.translateService.GetTranslations("lbl.ProgrammingLanguage")}}:</label>
        <input class="w3-input w3-border" type="text" [(ngModel)]="programmingLanguage" placeholder="Programming language">
      </p>
      <p><label class="bold-text">{{this.translateService.GetTranslations("lbl.Domain")}}:</label>
        <input class="w3-input w3-border" type="text" [(ngModel)]="domeniu" placeholder="Domain">
      </p>
      <p><label class="bold-text">{{this.translateService.GetTranslations("lbl.Technology")}}:</label>
        <input class="w3-input w3-border" type="text" [(ngModel)]="tehnologie" placeholder="Technology">
      </p>
      <p>
        <label class="bold-text">{{this.translateService.GetTranslations("lbl.NumberOfCorrectAnswers")}}:</label>
      </p>
      <table class="w3-table w3-striped">
        <tr>
          <td *ngFor="let checkbox of checkboxes2">
            <input type="checkbox" [checked]="checkbox.checked" (change)="checkbox.checked = !checkbox.checked; checkValues()"> {{checkbox.nume}}</td>
        </tr>
      </table>
      <p><label class="bold-text">{{this.translateService.GetTranslations("lbl.SequenceOfCharacters")}}:</label>
        <input class="w3-input w3-border" type="text" [(ngModel)]="dupaCuvant" placeholder="Sequence of characters">
        <input type="checkbox" [checked]="checkboxCaseSens" (change)="checkboxCaseSens = !checkboxCaseSens; checkValues()"> <label>{{this.translateService.GetTranslations("lbl.CaseSensitive")}}</label>
      </p>
      <p>
        <select  class="w3-dropdown-hover" [(ngModel)]="limbaIntrebare">
          <option *ngFor="let limba of trad" [ngValue]="limba.limba" >
            {{limba.limba}}
          </option>
        </select>
      </p>
      <p>
        <input type="checkbox" [checked]="selectDeselect" (change)="checkUncheck()"/> <label>{{this.translateService.GetTranslations("lbl.SelectDeselectAll")}}</label>
      </p>
      <p>
        <button class="w3-btn w3-green w3-ripple" type="submit" (click)="clearSearch()">{{this.translateService.GetTranslations("lbl.ResetParameters")}}</button>
        <button class="w3-btn w3-green w3-ripple" type="submit" (click)="filter()">{{this.translateService.GetTranslations("lbl.Search")}}</button>
      </p>
    </div>
  </div>
</div>
